.row {
    padding: 0;
    margin: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding: 50px 0;
    background-color: #707070;
    width: 100%;
    height: 40%;
    text-align: center;
    color: #fff;
}


@font-face {
    font-family: "Gotham";
    src: url("../static/assets/GothamLight.ttf");

}
@font-face {
    font-family: "GothamBold";
    src: url("../static/assets/GothamBold.ttf");

}

h1,h2,h3{
    font-family: GothamBold, serif;
}



body {

    font-family: Gotham, serif;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

