{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
<br>
<div class="bg p-5 rounded" style="text-align: justify;">
    <h1 style="text-align: center">Playlist Created</h1>
    <br>
    <br>
    <br>
    <br>
    <div style=" padding:15px;border:2px solid #021a40;border-radius: 25px">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Your playlist was created with sucess! Get your mood better by listening to it</p>
    </div>

</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}