{% extends 'base.html' %}
{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
<br>
<div class="bg p-5 rounded" style="text-align: justify;">
    <h1 style="text-align: center">Help Line</h1>
    <div style=" padding:15px;border:2px solid #021a40;border-radius: 25px">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;You just want to step out of it, to step out the whole race, the whole
            business, the monstrosity of
            being
            alive overwhelms you. If you have depression, if you have anxiety, if you have post-traumatic stress
            disorder, if you have any kinda of mental health condition, this is not something to ignore.
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Life is hard! Everyone knows that! You probably heard it 100 times too...But life is
            not hard just
            for
            you!
            Everyone goes through hardships and all of this is natural part of the process of becoming a
            stronger
            and
            better version of yourself. Just because today was a bad day, this week was bad week, this month was
            a
            bad
            month doesn't mean your whole life is gonna be filled with whatever u are feeling right now. Either
            it
            is
            hatred, sadness, anxiety, loneliness... one day it's all going go away. You have to live for that
            future!
            That should be your drive! You may think that there's only darkness... you may think this period of
            your
            life is never going to end but i guarantee you that whatever u are feeling i eventually going to
            fade
            away!
            And the best part of life is that you don't have to do it alone! You have friends,family,people that
            care
            about you! Those people are here to help you through this obstacles that life gives but they cant
            help
            if
            you don't talk to them! You are not weak if u talk! You are not weak if you cry! Those people should
            be
            there for at worst as they are at your best!
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;You may think "my family is gone and i don't have friends" and I tell u SO WHAT?
            There's people you
            don't
            know yet that are willing to help you! And there's a super easy way to find them. In the box next to
            this
            text u can find those number or contacts in your country. Those people are there to specifically
            help
            with
            what u are going through!</p>
    </div>
    <br>
    <br>
    <div style=" padding:15px;border:2px solid #021a40;border-radius: 25px">
        <p style="white-space: pre-wrap">&nbsp;{{info}}</p>
    </div>
</div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}